:root {
    /* Primary Color */
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    
    /* fonts */
    --ff-primary: 'Poppins', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
}


body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
    /*font-size: var(--fs-16);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'attribution';
    justify-items: center;
    margin-top: 3rem;
    /*border: 2px solid green;*/
}

/*----------------Mobile layout--------------------*/
/* style 1st component - mobile */
/*https://www.w3schools.com/accessibility/accessibility_heading_levels.php*/
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* style 2nd component - mobile */

.hidden {
    visibility: hidden;
    font-size: .5rem;
    color: var(--light-red);
    margin-bottom: 3.5rem;
}

.visible {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.coloring {
    color: var(--light-red) !important;
}

.main {
    width: 100%;
    border-radius: 15px 15px 60px 15px;
    /*margin: 3rem .8rem 0 .8rem;*/
    background-color: var(--white);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'day month year'
        'btn btn btn';
    justify-items: center;
    border-bottom: 2px solid var(--light-grey);
    margin: 2rem 1rem 2rem 1rem;
    position: relative;
}

.day__label, .month__label, .year__label {
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: var(--fw-700);
    color: var(--smokey-grey);
    letter-spacing: .1rem;
}

.day__input, .month__input, .year__input {
    padding: .5rem;
    border-radius: .3rem;
    border: 1px solid var(--light-grey);
    font-size: 1rem;
    color: var(--off-black);
    font-weight: var(--fw-700);
}

input {
    width: 4.5rem;
}

.day__label, .day__input, .day__validation {
    display: block;
}

.month__label, .month__input, .month__validation {
    display: block;
}

.year__label, .year__input, .year__validation {
    display: block;
}

#btn {
    display: grid;
    justify-items: center;
    position: fixed;
    top: 10.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--purple);
}

.arrow {
    width: 1.5rem;
    padding: 1rem 0 1rem 0;
    align-self: center;
}

.result {
    margin: 3rem 1rem 0 1rem;
    padding-bottom: 2rem;
    
}

.result__years, .result__months, .result__days {
    color: var(--off-black);
    font-size: 2.5rem;
    font-weight: var(--fw-800);
    font-style: italic;
    line-height: 2.8rem;
}

.number {
    /*letter-spacing: .4rem;*/
    color: var(--purple);
}

/* style 3rd component - mobile */
/*3rd component styled in external file*/

/*---------------------Desktop layout-------------------------*/


@media screen and (min-width: 48rem) {
    /*
    * {
        display: none;
    }*/
                
    .main {
        width: 24rem;
    }
    
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'day month year .'
            '. . . btn';
        justify-items: center;
        height: 5.5rem;
        position: relative;
        border-bottom: 2px solid var(--light-grey);
        margin: 2rem 1rem 0 1rem;
        /*border: 2px solid green;*/
    }
    
    .day__input, .month__input, .year__input:hover {
        cursor: pointer;
    }
    
    #btn {
        position: fixed;
        top: 8.5rem;
        justify-self: end;
    }
    
    #btn:hover {
        cursor: pointer;
        background-color: var(--off-black);
    }
        
    .result {
        margin: 1.5rem 1rem 0 1rem;
    }
   
}
/*----------------grid area names----------------------------*/

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.form {
    grid-area: form;
}

.day {
    grid-area: day;
}

.month {
    grid-area: month;
}

.year {
    grid-area: year;
}

#btn {
    grid-area: btn;
}

.attribution {
    grid-area: attribution;
}
